html {
    font-size:112.5%;
    background:#fff
}
body {
    font-family: "Open Sans",X-LocaleSpecific,sans-serif;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #ff9500;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ff9500;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-weight: 700;
    text-decoration: none;
}
.nav-firefox-download, .nav-firefox-download:visited {
    font-size: .77778rem;
    background-color: #fff;
    border-radius: 100px;
    border: 2px solid #16da00;
    color: #16da00;
    display: inline-block;
    font-weight: 700;
    padding: .5em 20px;
    text-decoration: none;
    transition: color .1s ease-in-out,background-color .1s ease-in-out;
}
.nav-firefox-download:hover, .nav-firefox-download:focus, .nav-firefox-download:active, .nav-firefox-download:visited:active .nav-firefox-download:visited:focus, .nav-firefox-download:visited:hover {
    background-color:#16da00;
    color:#fff;
    transition: color .1s ease-in-out, background-color .1s ease-in-out;
    text-decoration: none;
}
.nav-download-title, .nav-download-title:visited {
    font-weight: 700;
}
.nav-download-title:hover {
    color: #fff;
}
#colophon {
 font-family: "Open Sans",X-LocaleSpecific,sans-serif;
 background: #000;
 clear: both;
 color: #fff;
 line-height: 1.3;
 margin: 0;
 padding: 40px 0;
 width: 100%;
}
#colophon a:link,#colophon a:visited {
 color: #fff;
 font-weight: 400;
 text-decoration: none;
}
#colophon a:active,#colophon a:focus,#colophon a:hover {
 color: #fff;
 text-decoration: underline;
}
#colophon h5 {
 color: #fff;
 margin-bottom: .9em;
}
@media screen and (min-width:1000px) {
 #colophon h5 {
  font-size: .88889rem;
 }
}
@media screen and (min-width:1000px) and (min-width:1000px) {
 #colophon h5 {
  font-size: 1rem;
 }
}
#colophon h5 a:link,#colophon h5 a:visited {
 font-weight: 700;
}
#colophon li {
 list-style-type: none;
 margin: 0 0 .8em;
}
#colophon nav {
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 zoom: 1;
 margin: 0 auto;
 min-width: 300px;
}
#colophon nav:after {
 clear: both;
 content: '';
 display: block;
 height: 0;
 visibility: hidden;
}
#colophon section {
 margin-bottom: 40px;
}
#colophon .logo {
 margin-bottom: 40px;
}
#colophon .logo a {
 background: url("/static/img/logo/black-watermark-120.png") no-repeat;
 -webkit-background-size: 207px,40px;
 background-size: 207px,40px;
 overflow: hidden;
 text-indent: 120%;
 white-space: nowrap;
 display: inline-block;
 height: 40px;
 width: 207px;
}
#colophon .social-links {
    margin: 2em 0 0;
    padding: 0;
}
#colophon .social-links li {
 display: inline-block;
 margin-right: 20px;
}
#colophon .social-links li a {
 display: block;
 white-space: nowrap;
}
#colophon .social-links li a.azerdict {
    color: transparent;
    overflow: hidden;
    background: #fff url("/static/img/logo/azerdict.png");
    width: 18px;
    height: 18px;
}
#colophon .social-links li a.azerdict:hover {
    background-color: #fbea17;
}
#colophon .social-links li a.twitter {
 width: 18px;
 height: 15px
}
#colophon .social-links li a.twitter:hover {
    color: #55acee;
}
#colophon .social-links li a.facebook {
 width: 10px;
 height: 19px
}
#colophon .social-links li a.facebook:hover {
    color: #3b5998;
}
#colophon .primary {
 font-size: .88889rem
}
#colophon .secondary {
 font-size: .66667rem
}
#colophon .small-links li {
 display: inline;
 padding-right: 20px
}
#colophon .small-links li:last-child {
 padding-right: 0
}
#colophon .license {
 margin-bottom: 40px
}
#colophon .license a:link,#colophon .license a:visited {
 color: #9b9b9b
}
#colophon .lang-switcher {
 font-weight: 700
}
#colophon .lang-switcher label {
 display: inline-block;
 margin: 0 20px 5px 0
}
#colophon .lang-switcher select {
 border: none;
 background: #ededed
}
@media screen and (min-width:760px) {
 #colophon .primary .logo,#colophon .primary section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 33.332%;
  padding: 0 20px 0 0
 }
 #colophon .secondary {
  padding-top: 20px
 }
 #colophon .license {
  margin-bottom: 0
 }
 #colophon .small-links {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 66.664%;
  padding: 0 20px 0 0
 }
 #colophon .lang-switcher {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 33.332%;
  margin-top: 2.25em;
  padding: 0 20px 0 0
 }
}
@media screen and (min-width:760px) {
 [dir=rtl] #colophon .lang-switcher,[dir=rtl] #colophon .logo,[dir=rtl] #colophon .small-links,[dir=rtl] #colophon section {
  float:right;
  padding:0 0 0 20px
 }
}
[dir=rtl] #colophon .lang-switcher label {
 margin:0 0 5px 20px
}
[dir=rtl] #colophon .social-links li {
 margin:0 0 0 20px
}
[dir=rtl] #colophon .small-links li {
 padding:0 0 0 20px
}
#colophon .content {
    width:auto;
    box-sizing: border-box;
    margin: 0 auto;
    min-width: 300px;
    position: relative;
}
@media screen and (min-width:760px) {
 #colophon .content {
  width:auto;
  padding:20px 60px;
 }
}
@media screen and (min-width:1000px) {
 #colophon .content {
  width:auto;
  padding:20px 85px;
 }
}
@media screen and (min-width:1400px) {
 #colophon .content {
  width:auto;
  max-width:1420px;
 }
}
.mozilla-links {
    padding-left: 0;
}
.firefox-links {
    padding-left: 0;
}
.small-links ul {
    padding-left: 0;
}
.noscript-submit {
    border-radius: 5px;
}
.noscript-submit:hover {
    color: #fff;
}
